* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100vh;
  width: 100%;
  background: url(https://github.com/AnastasiyaC/rsschool-cv/blob/drum-kit/drum-kit/assets/images/background.jpg?raw=true), no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .keyboard {
    width: 80%;
  }
}

@media screen and (max-width: 1120px) {
  .keyboard {
    width: 90%;
  }
}

@media screen and (max-width: 980px) {
  .keyboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 12px;
    width: 60%;
  }

  .key--row_first {
    justify-self: start;
  }

  .key--row_second {
    justify-self: end;
    margin-right: -30px;
  }
}

@media screen and (max-width: 810px) {
  .keyboard {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .keyboard {
    width: 90%;
  }
}

@media screen and (max-width: 470px) {
  .keyboard {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 12px;
  }

  .key--row_first {
    justify-self: center;
  }

  .key--row_second {
    justify-self: center;
    margin-right: 0;
  }
}

.keyboard__key {
  height: 90px;
  width: 90px;
  border-radius: 14%;
  background-color: rgba(0, 0, 0, 0.8);
  outline: none;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 5px 2px rgba(67, 67, 68, 0.4);
  cursor: pointer;
  transition: all 0.2s linear;
}

@media screen and (max-width: 560px) {
  .keyboard__key {
    height: 80px;
    width: 80px;
  }
}

.keyboard__key:hover {
  border: 1px solid rgb(187, 187, 187);
  box-shadow: 3px 3px 5px 2px rgba(187, 187, 187, 0.4);
}

.key__title,
.key__description {
  color: white;
  text-transform: uppercase;
}

.key__title {
  font-size: 30px;
}

@media screen and (max-width: 560px) {
  .key__title {
    font-size: 26px;
  }
}

.key__description {
  font-size: 12px;
  margin-top: 10%;
}

@media screen and (max-width: 560px) {
  .key__description {
    font-size: 10px;
  }
}



