:root {
  --background: #e0dae0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.paint {
  display: flex;
  height: 90vh;
  width: 90%;
  z-index: 1;
}

@media screen and (max-width: 840px) {
  .paint {
    height: 95vh;
    width: 95%;
  }
}

.paint__editor {
  height: 100%;
  width: 130px;
  background-color: rgb(87, 67, 105);
  border-radius: 18px 0 0 18px;
  border: 5px solid wheat;
  border-right: none;
  position: relative;
  overflow: visible;
}

@media screen and (max-width: 560px) {
  .paint__editor {
    width: 90px;
  }
}

.paint__editor::before {
  content: "";
  height: 130%;
  width: 180%;
  background-color: #93ac9e;
  position: absolute;
  right: 0;
  top: -15%;
  z-index: -2;
}

.paint__canvas {
  height: 100%;
  width: calc(100% - 130px);
  background-color: var(--background);
  box-shadow: 7px 0px 11px -6px rgba(2, 2, 2, 0.7) inset;
  position: relative;
  border-radius: 0 18px 18px 0;
  transition: all 0.5s linear;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .paint__canvas {
    width: calc(100% - 90px);
  }
}

.canvas {
  height: 100%;
  width: 100%;
  border-radius: 0 18px 18px 0;
  border: 5px solid rgb(79, 112, 87);
  border-left: none;
}

.paint__canvas::before {
  content: "";
  height: 130%;
  width: 140%;
  background-color: #a09aa3;
  position: absolute;
  left: 0;
  top: -15%;
  z-index: -1;
}

.paint__buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
}

.paint__button {
  height: 68px;
  width: 68px;
  background-color: rgba(255, 255, 255, 0);
}

@media screen and (max-width: 560px) {
  .paint__button {
    height: 56px;
    width: 56px;
  }
}

.paint__button + .paint__button {
  margin-top: 14px;
}

@media screen and (max-width: 560px) {
  .paint__button + .paint__button {
    margin-top: 18px;
  }
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  opacity: 0;
  transition: all 0.6s linear;
  padding: 4px 8px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  background-color: rgba(104, 129, 120, 0.8);
  border-radius: 5px;
  color: rgb(238, 222, 222);
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

@media screen and (max-width: 560px) {
  [data-tooltip]::after {
    padding: 3px 6px;
    font-size: 14px;
  }
}

[data-tooltip]:hover::after {
  opacity: 1;
  top: calc(100% - 8px);
  left: 100%;
}

.button {
  border-radius: 10%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.4s linear;
}

.button:hover {
  box-shadow: 4px 4px 6px 0px rgba(34, 60, 80, 0.6),
    -4px -4px 6px 0px rgba(34, 60, 80, 0.6);
}

.paint__button--active {
  border: 1px solid rgba(255, 228, 196, 0.4);
  box-shadow: 4px 4px 6px 0px rgba(34, 60, 80, 0.6),
    -4px -4px 6px 0px rgba(34, 60, 80, 0.6);
}

.button__icon {
  height: 50px;
  width: 50px;
}

.paint__line-width {
  height: 58px;
  width: 100%;
  background-color: transparent;
  box-shadow: 0px -5px 11px -6px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  transition: all 0.3s linear;
  opacity: 1;
}

.paint__editor--opened > .paint__line-width {
  bottom: 18%;
}

.line-width__text {
  font-size: 14px;
  color: wheat;
  font-family: "Ubuntu", sans-serif;
}

@media screen and (max-width: 560px) {
  .line-width__text {
    font-size: 12px;
  }
}

.line-width__round {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: rgb(175, 45, 147);
  background-color: wheat;
}

.paint__form {
  height: 18%;
  width: 280%;
  background-color: rgb(87, 67, 105);
  box-shadow: 7px -6px 11px -6px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0 18px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

@media screen and (max-width: 560px) {
  .paint__form {
    height: 15%;
    width: 300%;
  }
}

.paint__editor--opened > .paint__form {
  opacity: 1;
  transform: translateX(0); 
}

.paint__form--opened::after {
  content: "";
  height: 5px;
  width: 80%;
  position: absolute;
  bottom: -5px;
  right: 0;
  background-color: wheat;
}

.form__input {
  width: 80%;
  padding: 20px;
  background-color: transparent;
}

@media screen and (max-width: 560px) {
  .form__input {
    width: 90%;
  }
}

.input-range {
  -webkit-appearance: none;
  appearance: none;
  margin: 0 auto;
}

.input-range:focus {
  outline: none;
}

.input-range::-ms-track {
  cursor: pointer;
  background: wheat;
  border-color: transparent;
  color: transparent;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 14px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10%;
  background: wheat;
  cursor: pointer;
  margin-top: -11px;
  box-shadow: 0 5px 15px -5px rgb(0, 0, 0);
}

@media screen and (max-width: 560px) {
  .input-range::-webkit-slider-thumb {
    height: 18px;
    width: 10px;
    margin-top: -8px;
  }
}

.input-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: rgba(145, 189, 134, 0.4);
  border-radius: 3px;
  border: none;
}

.input-range:focus::-webkit-slider-runnable-track {
  background: rgba(145, 189, 134, 0.6);
}

.input-color {
  appearance: none;
  padding: 0;
  border: none;
  height: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 1px 7px rgba(0, 0, 0, 0.3);
}

.input-color:focus {
  outline: none;
}

.input-color::-webkit-color-swatch {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0;
}
.input-color::-webkit-color-swatch-wrapper {
  border: none;
  padding: 0;
}



