* {
box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    background-color: #7f868b;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  
.game {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

/* .game--play {
    animation: apperance 1s linear forwards;
}

@keyframes apperance {
    100% {
        opacity: 1;
    }
}

.game__container {
    height: 100vh;
    width: 100vw;
} */
                
.game__playing-field {
    height: 100%;
    width: calc(100% - 350px);
    position: relative;
    background: rgb(122,195,224);
    background: linear-gradient(180deg, rgba(122,195,224,1) 0%, rgba(170,228,250,1) 25%, rgba(237,248,254,1) 100%);
}

.game__keyboard-field {
    height: 100%;
    width: 350px;
    background-color: rgba(40, 62, 85, 1);
    position: relative;
    z-index: 4;
}

/* DROPS STYLES START */
.playing-field__drop {
    height: 64px;
    width: 64px;
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 5px;
    transform: rotate(-45deg) translateY(0px);
    animation: drop-down 15s linear forwards;
    z-index: 2;
}

@keyframes drop-down {
    0% {
        top: 0;
    }

    100% {
        top: 100%;
    }
}

.drop--color_blue {
    background: linear-gradient(225deg, #f1f7f9 0%, #66bbda 60%, #3a84ab 100%);
    border: 4px solid #2a6c8f;
}

.drop--color_bonus {
    background: linear-gradient(225deg, #e7cfe7 0%, #c279c2 60%, #964b96 100%);
    border: 4px solid #a0307e;
}

.drop--burst_green {
    transform-origin: center;  
    animation: burst-green 1s linear forwards;
}

@keyframes burst-green {
    40% {
        transform: rotate(-45deg) scale(0.5);
        border-top-right-radius: 50%;
        background: green;
        border: 4px solid rgb(3, 80, 3);
    }
    80% {
        transform: rotate(-45deg) scale(0.5);
        border-top-right-radius: 50%;
        background: green;
        border: 4px solid rgb(3, 80, 3);
    }
    90% {
        transform: rotate(-45deg) scale(0.7);
        border-top-right-radius: 50%;
        background: green;
        border: 4px solid rgb(3, 80, 3);
    }
    100% {
        transform: rotate(-45deg) scale(0);
        border-top-right-radius: 50%;
        background: green;
        border: 4px solid rgb(3, 80, 3);
    }
}

.drop--burst_red {
    transform-origin: center;  
    animation: burst-red 1s linear forwards;
}

@keyframes burst-red {
    40% {
        transform: rotate(-45deg) scale(0.5);
        border-top-right-radius: 50%;
        background: red;
        border: 4px solid rgb(3, 80, 3);
    }
    80% {
        transform: rotate(-45deg) scale(0.5);
        border-top-right-radius: 50%;
        background: red;
        border: 4px solid rgb(3, 80, 3);
    }
    90% {
        transform: rotate(-45deg) scale(0.7);
        border-top-right-radius: 50%;
        background: red;
        border: 4px solid rgb(3, 80, 3);
    }
    100% {
        transform: rotate(-45deg) scale(0);
        border-top-right-radius: 50%;
        background: red;
        border: 4px solid rgb(3, 80, 3);
    }
}

.drop--burst_all {
    animation: burst-all 1s linear forwards;
}

@keyframes burst-all {
    40% {
        transform: rotate(-45deg) scale(0.5);
        border-top-right-radius: 50%;
    }
    80% {
        transform: rotate(-45deg) scale(0.5);
        border-top-right-radius: 50%;
    }
    90% {
        transform: rotate(-45deg) scale(0.7);
        border-top-right-radius: 50%;
    }
    100% {
        transform: rotate(-45deg) scale(0);
        border-top-right-radius: 50%;
    }
}

.drop__expression {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: relative;
    transform: rotate(45deg);
}

.drop--burst_green > .drop__expression,
.drop--burst_red > .drop__expression,
.drop--burst_all > .drop__expression {
    display: none;
}

.drop__operand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 700;
}

.drop__operand--position_first {
    top: 10%;
}

.drop__operand--position_second {
    top: 50%;
}

.drop__operator {
    font-size: 24px;
    position: absolute;
    top: 52%;
    left: 10%;
    transform: translateY(-50%);
    font-weight: 700;
}

.drop--burst_green > .drop__icon,
.drop--burst_red > .drop__icon {
    display: block;
    opacity: 0;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: apperance 0.4s linear forwards;
}

@keyframes apperance {
    100% {
        opacity: 1;
    } 
}
/* DROPS STYLES END */



/* ROCKS STYLES START */
.playing-field__rock {
    height: 20%;
    width: 44%;
    background-color: transparent;
    position: relative;
    top: 77%;
    left: 29%;
    z-index: 1;
}
/* ROCKS STYLES END */


.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}



/* WAWES STYLES START */
.playing-field__waves {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 84%;
    left: 0;
    background-color: transparent;
    overflow: hidden;
    z-index: 3;
    
}

.playing-field__wave-one {
    height: 1500px;
    width: 1500px;
    background-color: #66bbda;
    border-radius: 44%;
    position: absolute;
    left: -7%;
    top: 6%;
    animation: wave 6s linear infinite;
    animation-play-state: paused;
}

.playing-field__wave-two {
    height: 1500px;
    width: 1500px;
    background-color: #4694ba;
    border-radius: 43%;
    position: absolute;
    left: 17%;
    top: 11%;
    animation: wave 10s linear infinite;
    animation-play-state: paused;
}

.playing-field__wave-three {
    height: 2000px;
    width: 2000px;
    background-color: #3a84ab;
    border-radius: 46%;
    position: absolute;
    left: -56%;
    top: 7%;
    animation: wave 8s linear infinite;
    animation-play-state: paused;
}

@keyframes wave {
    100% {
       transform: rotate(360deg);
    }
}
/* WAWES STYLES END */



/* GAMEOVER STYLES START */
.game__game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    color: black;
    font-size: 58px;
    text-transform: uppercase;
    animation: gameover 1.6s linear 0.4s forwards;
    opacity: 0;
}

@keyframes gameover {
    40% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.8);
    }
    80%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.8);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.8);
    }
}
/* GAMEOVER STYLES END */



/* SCORE STYLES START */
.game__score {
    width: 100px;
    /* background: linear-gradient(to bottom, #4195be, #2e6c8d); */
    position: absolute;
    top: 2%;
    left: calc(103% - 350px);
    /* transform: translateX(-50%); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* font-size: 34px; */
    z-index: 5;
}

.score__icon {
    height: 26px;
    width: 26px;
    margin-left: 10px;
}

.score__image {
    transform-origin: 50% 50%;
    animation: rotate 0.5s linear;
}

@keyframes rotate {
    50% {
        transform: scale(1.4) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

.score__text {
    text-align: center;
    font-size: 23px;
    color: white;
    
}

.score__number {
    font-size: 34px;
    color: white;
    text-align: center;
    margin-top: -8px;
}
/* SCORE STYLES END */



/* KEYBOARD STYLES START */
.keyboard-field__keyboard {
    height: 380px;
    width: calc(100% - 60px);
    background: linear-gradient(to bottom, #4195be, #2e6c8d);
    box-shadow: 6px 8px 12px rgba(3, 28, 31, 0.6);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.keyboard__display {
    margin: 10px 10px 0;
    height: 25%;
}

.keyboard__form {
    height: 100%;
    width: 100%;
}

.keyboard__input {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 42px;
    border-radius: 6px;
    border: 3px solid black;
}

.keyboard__buttons {
    height: calc(75% - 35px);
    margin: 15px 10px 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
}

.keyboard__button {
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.6);
    transition: all 0.3s linear;
}

.keyboard__button-number {
    font-size: 28px;
}

.keyboard__button-operation {
    font-size: 16px;
}

.keyboard__button-number:hover,
.keyboard__button--active_number {
    background-color: rgb(169, 200, 209);
}

.button-operation--hover_red:hover,
.keyboard__button--active_clear {
    background-color: rgb(218, 187, 172);
}

.button-operation--hover_green:hover,
.keyboard__button--active_enter {
    background-color: rgb(176, 197, 154);
}

.button-operation--grid_clear {
    grid-row: 1/3;
    grid-column: 4/5;
}

.button-operation--grid_enter {
    grid-row: 3/5;
    grid-column: 4/5;
}

.button-number--grid_zero {
    grid-row: 4/5;
    grid-column: 1/3;
}
/* KEYBOARD STYLES END */

/* LIVES STYLES START */
.game__lives {
    position: absolute;
    top: 2%;
    right: 3%;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.lives__text {
    text-align: center;
    font-size: 23px;
    color: white;
}

.lives__hearts {
    display: flex;
}

.lives__heart {
    position: relative;
    width: 30px;
    height: 27px;
}

.lives__heart::before,
.lives__heart::after {
    content: "";
    position: absolute;
    top: -1px;
    width: 17px;
    height: 26px;
    border-radius: 50px 50px 0 0;
    background: rgb(37, 37, 37);
    
}
  
.lives__heart::before {
    left: 11px;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
}

.lives__heart::after {
    left: -4px;
    transform-origin: 100% 100%;
    transform: rotate(45deg);
} 

.lives__heart + .lives__heart {
    margin-left: 4px;
}

.heart__part{
    position: absolute;
    top: 0;
    width: 13px;
    height: 23px;
    border-radius: 50px 50px 0 0;
    background: rgb(153, 40, 40);
   
}

.heart__part--left {
    left: 12px;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
    z-index: 6;
}

.heart__part--rigth {
    left: 0;
    transform-origin: 100% 100%;
    transform: rotate(45deg);
    z-index: 6;
}

.heart--minus > .heart__part {
    animation: minus-color 0.5s linear forwards;
}

@keyframes minus-color {
    0% {
        background: rgb(37, 34, 34);
    }
    50% {
        background: rgb(49, 41, 41);
    }
    100% {  
        background: rgb(92, 61, 61);
    } 
}
/* LIVES STYLES END */


/* SETTING STYLES START */
.game__setting {
    position: absolute;
    bottom: 2%;
    right: 30px;
    z-index: 5;  
}

.setting__button {
    height: 36px;
    width: 46px;
    background-color: transparent;
    /* outline: none; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.5s linear;
    cursor: pointer;
}

.setting__button:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.setting__button + .setting__button {
    margin-left: 194px;
}

.button-fullscreen:hover {
    background-color: rgba(32, 32, 32, 0.1);
}

.button-sound {
    background-color: rgba(31, 122, 69, 0.8);
}

.button-sound:hover {
    background-color: rgb(36, 138, 78);
}

.button__icon {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* SETTING STYLES END */



/* WINDOW STYLES START */

.game__window {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 7;
}

.window-start {
    background-color: rgba(22, 22, 22, 1);
    background: linear-gradient(180deg, rgba(122,195,224,1) 0%, rgba(170,228,250,1) 45%, rgba(237,248,254,1) 100%);
}

.window-start__title {
    font-size: 86px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    color: rgb(23, 10, 71);
}

.window-start__container {
    height: 60%;
    width: 70%;
    background-color: rgba(210, 105, 30, 0.2);
    margin: 50px auto 0;
    position: relative;
}

.window-start__buttons {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}


/* WINDOW BUTTONS START */
.window-start__button,
.window-end__button {
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    padding: 16px 32px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.4s linear;
}
/* WINDOW BUTTONS END */
.window-start__button-instruction,
.window-start__button-start,
.window-end__button-start,
.window-end__button-exit {
    border: 3px solid rgba(255, 255, 255, 0.8);
    box-shadow: 1px 2px 4px 0px rgba(34, 60, 80, 0.4);
}

.window-start__button-instruction {
    background-color: rgb(144, 151, 39); 
}

.window-start__button-instruction:hover {
    background-color: transparent;
    border: 3px solid rgb(144, 151, 39);
    box-shadow: 0 0 4px 4px rgba(144, 151, 39, 0.3);
    color: black;
}

.window-start__button-start,
.window-end__button-start {
    background-color: rgb(68, 146, 68);
}

.window-start__button-start:hover,
.window-end__button-start:hover {
    background-color: transparent;
    border: 3px solid rgb(68, 146, 68);
    box-shadow: 0 0 4px 4px rgba(68, 146, 68, 0.3);
    color: black;
}

.window-end__button-exit {
    background-color: rgb(209, 71, 8);
}

.window-end__button-exit:hover {
    background-color: transparent;
    border: 3px solid rgb(209, 71, 8);
    box-shadow: 0 0 4px 4px rgba(209, 71, 8, 0.3);
    color: black;
}

.window-start__button + .window-start__button,
.window-end__button + .window-end__button {
    margin-left: 50px;
}

.game--play > .window-start {
    display: none;
}

.game--finish > .window-start {
    display: none;
}

.game--start > .window-end {
    display: none;
}

.game--play > .window-end {
    display: none;
}

.window-end {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appearance 0.6s linear forwards;
    opacity: 0;
}

@keyframes appearance {
    100% {
        opacity: 1;
    }  
}

.game--finish > .window-end {
    display: flex;
}

.window-end__container {
    height: 60%;
    width: 60%;
    background-color: cornsilk;
    position: relative;
    border-radius: 5px;
    border: 4px solid black;
    box-shadow: 30px 30px 0px 2px rgb(66, 66, 80), -30px 30px 0px 2px rgb(66, 66, 80), -30px -30px 0px 2px rgb(66, 66, 80), 30px -30px 0px 2px rgb(66, 66, 80);
}

.window-end__score {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.window-end__score span{
    font-size: 40px;
    color: black;
    display: block;
    text-transform: uppercase;
}

.window-end__score .window-end__score-number {
    margin-top: 10px;
    font-size: 56px;
    text-align: center;
}

.window-end__score-best {
    /* height: 35%;
    width: 60%; */
    position: absolute;
    top: 35%;
    left: 20px;
    font-size: 20px;
    text-transform: uppercase;
    /* background-color: blueviolet; */
}

.score-best__title {
    margin-bottom: 10px;
    font-size: 24px;
}

.score-best__list {
    margin-left: 0;
    padding-left: 0;
}

.score-best__item {
    position: relative;
    margin-left: 20px;
}

.score-best__score {
    color: blue;
    margin-left: 5px;
}

.score-best__date {
    position: absolute;
    left: 50px;
}

.window-end__buttons {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}









